<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>WoW Characters: {{char.name}}</title>
</head>

<body>
    <header>
        <div class="header-container">
            {{#if char}}
            <h1>{{char.name}}</h1>
            {{/if}}
            <nav>
                <a href="/chars/" class="nav__link">Characters list</a>
                <a href="/chars/new-char" class="nav__link">Add new character</a>
                <form action="/auth/logout" method="POST" class="nav__link">
                    <button type="submit" value="Logout">Logout</button>
                </form>
            </nav>
        </div>
    </header>
    <main class="char__bg"
        style="background-image: linear-gradient(rgba(22, 16, 12, 1) 0%, rgba(22, 16, 12, 0.50) 5%, rgba(22, 16, 12, 0) 10%, rgba(22, 16, 12, 0) 90%, rgba(22, 16, 12, 0.50) 95%, rgba(22, 16, 12, 1) 100%), url({{char.pic}})">
        {{#if char}}
        <section class="char__page">
            <div class="char__data">
                <div class="char__faction">
                    <div>
                        {{#ifEquals char.faction 'Alliance'}}
                        <img src="https://res.cloudinary.com/wowchars/image/upload/v1628240343/logo-alliance_garxe4.png"
                            alt="Alliance character">
                        {{/ifEquals}}
                        {{#ifEquals char.faction 'Horde'}}
                        <img src="https://res.cloudinary.com/wowchars/image/upload/v1628240343/logo-horde_jn3k4f.png"
                            alt="Horde character">
                        {{/ifEquals}}
                        <div>{{char.realm}}</div>
                    </div>
                </div>
                <div class="char__guild">
                    {{#if char.guild}}
                    <span>Guild:</span>
                    <a href="/guild/{{guild.id}}">{{guild.name}}</a>
                    {{/if}}
                </div>
                <div class="char__basic-info">
                    <div>Lv {{char.level}}</div>
                    <div>{{char.race}}</div>
                    <div>{{char.charClass}}</div>
                </div>
                <div class="char__professions">
                    {{!-- TODO: #if professions para que, si no hay, no salga nada --}}
                    <span>Professions:</span>
                    {{#ifEquals professions.length 0}}
                    <span>None</span>
                    {{/ifEquals}}
                    {{#each professions}}
                    <span>{{this}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="btn__group">
                <a href="/chars/edit-char/{{char._id}}" class="btn--border">Edit</a>
                <form action="/chars/{{char._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn--border">Delete</button>
                </form>
            </div>
        </section>

        {{else}}
        <p>The character you are looking for does not exist.</p>
        {{/if}}

    </main>
</body>

</html>