<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>WoW Characters: {{char.name}}</title>
</head>

<body>
    <header>
        <div class="header-container">
            {{#if char}}
            <h1>{{char.name}}</h1>
            {{/if}}
            <nav>
                <a href="/chars/" class="nav__link">Characters list</a>
                <a href="/chars/new-char" class="nav__link">Add new character</a>
                <a href="/auth/login" class="nav__link">Login</a>
                <form action="/auth/logout" method="POST" class="nav__link">
                    <button type="submit" value="Logout">Logout</button>
                </form>
            </nav>
        </div>
    </header>
    <main class="char__container">
        <section>
            {{#if char}}
            <ul>
                <li>Faction: {{char.faction}}</li>
                <li>Race: {{char.race}}</li>
                <li>Class: {{char.charClass}}</li>
                <li>Level: {{char.level}}</li>
                <li>Realm: {{char.realm}}</li>
            </ul>
            <a href="/chars/edit-char/{{char._id}}">
                <button>Edit character</button>
            </a>
            <form action="/chars/{{char._id}}?_method=DELETE" method="POST">
                <button type="submit">Delete character</button>
            </form>
            {{else}}
            <p>The character you are looking for does not exist.</p>
            {{/if}}
        </section>
    </main>
</body>

</html>