<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css">
  <title>WoW Characters: Edit character</title>
</head>

<body>
  <header>
    <div class="header-container">
      {{#if char}}
      <h1>Editing {{char.name}}</h1>
      {{/if}}
      <nav>
        <a href="/chars/" class="nav__link">Characters list</a>
        <a href="/chars/new-char" class="nav__link">Add new character</a>
        <form action="/auth/logout" method="POST" class="nav__link">
          <button type="submit" value="Logout">Logout</button>
        </form>
      </nav>
    </div>
  </header>

  {{#if char}}

  <main>
    <form action="/chars/edit-char/{{char._id}}?_method=PUT" method="POST">
      <label>
        <p>Name</p>
        <input value="{{char.name}}" type="text" name="name" placeholder="name">
      </label>
      {{!-- TODO: Hay que configurar el script de abajo --}}
      <label>
        <p>Faction</p>
        <select name="faction" placeholder="Faction">
          <option value="Alliance">Alliance</option>
          <option value="Horde">Horde</option>
        </select>
      </label>
      <label>
        <p>Race</p>
        <select name="race" placeholder="Race">
          <optgroup label="Alliance">
            <option value="dark iron dwarf">Dark Iron dwarf</option>
            <option value="draenei">Draenei</option>
            <option value="dwarf">Dwarf</option>
            <option value="gnome">Gnome</option>
            <option value="kul tiran">Kul Tiran</option>
            <option value="lightforged draenei">Lightforged draenei</option>
            <option value="human">Human</option>
            <option value="mechagnome">Mechagnome</option>
            <option value="night elf">Night elf</option>
            <option value="pandaren">Pandaren</option>
            <option value="void elf">Void elf</option>
            <option value="worgen">Worgen</option>
          </optgroup>
          <optgroup label="Horde">
            <option value="blood elf">Blood elf</option>
            <option value="goblin">Goblin</option>
            <option value="highmountain tauren">Highmountain tauren</option>
            <option value="mag'har orc">Mag'har orc</option>
            <option value="nightborne">Nightborne</option>
            <option value="orc">Orc</option>
            <option value="pandaren">Pandaren</option>
            <option value="tauren">Tauren</option>
            <option value="troll">Troll</option>
            <option value="undead">Undead</option>
            <option value="vulpera">Vulpera</option>
            <option value="zandalari troll">Zandalari troll</option>
          </optgroup>
        </select>
      </label>
      <label>
        <p>Class</p>
        <select name="charClass" placeholder="Class">
          <option value="death knight">Death knight</option>
          <option value="demon hunter">Demon hunter</option>
          <option value="druid">Druid</option>
          <option value="hunter">Hunter</option>
          <option value="mage">Mage</option>
          <option value="monk">Monk</option>
          <option value="paladin">Paladin</option>
          <option value="priest">Priest</option>
          <option value="rogue">Rogue</option>
          <option value="shaman">Shaman</option>
          <option value="warlock">Warlock</option>
          <option value="warrior">Warrior</option>
        </select>
      </label>
      <label>
        <p>Level</p>
        <input value="{{char.level}}" type="number" name="level" min="1" max="60" placeholder="Level">
      </label>
      <label>
        <p>Realm</p>
        <input value="{{char.realm}}" type="text" name="realm" placeholder="Realm">
      </label>
      <p>Professions:</p>
      {{!-- TODO: No funciona bien el checked --}}
      <div>
        <label>
          <input type="checkbox" checked={{char.alchemy}} name="alchemy">
          <span>Alchemy</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.blacksmithing}} name="blacksmithing">
          <span>Blacksmithing</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.enchanting}} name="enchanting">
          <span>Enchanting</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.engineering}} name="engineering">
          <span>Engineering</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.herbalism}} name="herbalism">
          <span>Herbalism</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.inscription}} name="inscription">
          <span>Inscription</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.jewelcrafting}} name="jewelcrafting">
          <span>Jewelcrafting</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.leatherworking}} name="leatherworking">
          <span>Leatherworking</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.mining}} name="mining">
          <span>Mining</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.skinnig}} name="skinnig">
          <span>Skinning</span>
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" checked={{char.tailoring}} name="tailoring">
          <span>Tailoring</span>
        </label>
      </div>
      <div>
        <label>
          <p>Picture</p>
          <input value="{{char.pic}}" type="text" name="pic" placeholder="Picture">
        </label>
      </div>

      <div class="btn__group">
        <button type="submit" class="btn--border">Save</button>
        <a href="/chars/{{char._id}}" class="btn--border">Return</a>
      </div>
    </form>

    {{else}}
    <p>The character you are trying to edit does not exist.</p>
    {{/if}}
  </main>

  {{!-- TODO:
  <script>
    const markSelected = () => {
      const charValue = {{{ json char }
    }}
    document.querySelector(`option[value='${charValue.faction}']`).selected = true;
      }
    window.onload = markSelected;
  </script>
  --}}
</body>

</html>