<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css">
  <title>WoW Characters: Edit character</title>
</head>

<body>
  <header>
    <div class="header-container">
      {{#if char}}
      <h1>Editing {{char.name}}</h1>
      {{/if}}
      <nav>
        <a href="/chars/" class="nav__link">Characters list</a>
        <a href="/chars/new-char" class="nav__link">Add new character</a>
        <form action="/auth/logout" method="POST" class="nav__link">
          <button type="submit" value="Logout">Logout</button>
        </form>
      </nav>
    </div>
  </header>

  {{#if char}}
  <main>
    <form action="/chars/edit-char/{{char._id}}?_method=PUT" method="POST" enctype="multipart/form-data" class="form">
      <label>
        <p>Name</p>
        <input value="{{char.name}}" type="text" name="name" placeholder="name">
      </label>
      {{!-- TODO: Hay que configurar el script de abajo --}}
      <label>
        <p>Faction</p>
        <select name="faction" placeholder="Faction">
          <option value="Alliance" {{#ifEquals char.faction 'Alliance'}} selected {{/ifEquals}}>Alliance</option>
          <option value="Horde" {{#ifEquals char.faction 'Horde'}} selected {{/ifEquals}}>Horde</option>
        </select>
      </label>
      <label>
        <p>Race</p>
        <select name="race" placeholder="Race">
          <optgroup label="Alliance">
            <option value="dark iron dwarf" {{#ifEquals char.race 'dark iron dwarf'}} selected {{/ifEquals}}>Dark Iron dwarf</option>
            <option value="draenei" {{#ifEquals char.race 'draenei'}} selected {{/ifEquals}}>Draenei</option>
            <option value="dwarf" {{#ifEquals char.race 'dwarf'}} selected {{/ifEquals}}>Dwarf</option>
            <option value="gnome" {{#ifEquals char.race 'gnome'}} selected {{/ifEquals}}>Gnome</option>
            <option value="kul tiran" {{#ifEquals char.race 'kul tiran'}} selected {{/ifEquals}}>Kul Tiran</option>
            <option value="lightforged draenei" {{#ifEquals char.race 'lightforged draenei'}} selected {{/ifEquals}}>Lightforged draenei</option>
            <option value="human" {{#ifEquals char.race 'human'}} selected {{/ifEquals}}>Human</option>
            <option value="mechagnome" {{#ifEquals char.race 'mechagnome'}} selected {{/ifEquals}}>Mechagnome</option>
            <option value="night elf" {{#ifEquals char.race 'night elf'}} selected {{/ifEquals}}>Night elf</option>
            <option value="pandaren" {{#ifEquals char.race 'pandaren'}} selected {{/ifEquals}}>Pandaren</option>
            <option value="void elf" {{#ifEquals char.race 'void elf'}} selected {{/ifEquals}}>Void elf</option>
            <option value="worgen" {{#ifEquals char.race 'worgen'}} selected {{/ifEquals}}>Worgen</option>
          </optgroup>
          <optgroup label="Horde">
            <option value="blood elf" {{#ifEquals char.race 'blood elf'}} selected {{/ifEquals}}>Blood elf</option>
            <option value="goblin" {{#ifEquals char.race 'goblin'}} selected {{/ifEquals}}>Goblin</option>
            <option value="highmountain tauren" {{#ifEquals char.race 'highmountain tauren'}} selected {{/ifEquals}}>Highmountain tauren</option>
            <option value="mag'har orc" {{#ifEquals char.race "mag'har orc"}} selected {{/ifEquals}}>Mag'har orc</option>
            <option value="nightborne" {{#ifEquals char.race 'nightborne'}} selected {{/ifEquals}}>Nightborne</option>
            <option value="orc" {{#ifEquals char.race 'orc'}} selected {{/ifEquals}}>Orc</option>
            <option value="pandaren" {{#ifEquals char.race 'pandaren'}} selected {{/ifEquals}}>Pandaren</option>
            <option value="tauren" {{#ifEquals char.race 'tauren'}} selected {{/ifEquals}}>Tauren</option>
            <option value="troll" {{#ifEquals char.race 'troll'}} selected {{/ifEquals}}>Troll</option>
            <option value="undead" {{#ifEquals char.race 'undead'}} selected {{/ifEquals}}>Undead</option>
            <option value="vulpera" {{#ifEquals char.race 'vulpera'}} selected {{/ifEquals}}>Vulpera</option>
            <option value="zandalari troll" {{#ifEquals char.race 'zandalari troll'}} selected {{/ifEquals}}>Zandalari troll</option>
          </optgroup>
        </select>
      </label>
      <label>
        <p>Class</p>
        <select name="charClass" placeholder="Class">
          <option value="death knight" {{#ifEquals char.charClass 'death knight'}} selected {{/ifEquals}}>Death knight</option>
          <option value="demon hunter" {{#ifEquals char.charClass 'demon hunter'}} selected {{/ifEquals}}>Demon hunter</option>
          <option value="druid" {{#ifEquals char.charClass 'druid'}} selected {{/ifEquals}}>Druid</option>
          <option value="hunter" {{#ifEquals char.charClass 'hunter'}} selected {{/ifEquals}}>Hunter</option>
          <option value="mage" {{#ifEquals char.charClass 'mage'}} selected {{/ifEquals}}>Mage</option>
          <option value="monk" {{#ifEquals char.charClass 'monk'}} selected {{/ifEquals}}>Monk</option>
          <option value="paladin" {{#ifEquals char.charClass 'paladin'}} selected {{/ifEquals}}>Paladin</option>
          <option value="priest" {{#ifEquals char.charClass 'priest'}} selected {{/ifEquals}}>Priest</option>
          <option value="rogue" {{#ifEquals char.charClass 'rogue'}} selected {{/ifEquals}}>Rogue</option>
          <option value="shaman" {{#ifEquals char.charClass 'shaman'}} selected {{/ifEquals}}>Shaman</option>
          <option value="warlock" {{#ifEquals char.charClass 'warlock'}} selected {{/ifEquals}}>Warlock</option>
          <option value="warrior" {{#ifEquals char.charClass 'warrior'}} selected {{/ifEquals}}>Warrior</option>
        </select>
      </label>
      <label>
        <p>Level</p>
        <input value="{{char.level}}" type="number" name="level" min="1" max="60" placeholder="Level">
      </label>
      <label>
        <p>Realm</p>
        <input value="{{char.realm}}" type="text" name="realm" placeholder="Realm">
      </label>
      <div class="form__professions">
        <p>Professions:</p>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.alchemy}} checked {{/if}} name="alchemy">
            <span>Alchemy</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.blacksmithing}} checked {{/if}} name="blacksmithing">
            <span>Blacksmithing</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.enchanting}} checked {{/if}} name="enchanting">
            <span>Enchanting</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.engineering}} checked {{/if}} name="engineering">
            <span>Engineering</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.herbalism}} checked {{/if}} name="herbalism">
            <span>Herbalism</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.inscription}} checked {{/if}} name="inscription">
            <span>Inscription</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.jewelcrafting}} checked {{/if}} name="jewelcrafting">
            <span>Jewelcrafting</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.leatherworking}} checked {{/if}} name="leatherworking">
            <span>Leatherworking</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.mining}} checked {{/if}} name="mining">
            <span>Mining</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.skinning}} checked {{/if}} name="skinning">
            <span>Skinning</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" {{#if char.professions.tailoring}} checked {{/if}} name="tailoring">
            <span>Tailoring</span>
          </label>
        </div>
      </div>
        <label>
          <p>Picture</p>
          <input type="file" name="pic">
        </label>

      <div class="btn__group">
        <a href="/chars/{{char._id}}" class="btn--border">Return</a>
        <button type="submit" class="btn--border">Save</button>
      </div>
    </form>

    {{else}}
    <p>The character you are trying to edit does not exist.</p>
    {{/if}}
  </main>

  {{!--
  <script>
    const markSelected = () => {
      const charValue = {{{ json char }}}
    document.querySelector(`option[value='${charValue.faction}']`).selected = true;
      }
    window.onload = markSelected;
  </script>
  --}}
</body>

</html>